1. Может ли измениться результат запроса, если в LEFT JOIN поменять таблицы местами?

Да, т.к. при соединении таблицы через left join, в результат всегда добавляются все строки из левой таблицы (той, что указана первой), даже если в правой нет соответствующих данных. Если поменять местами таблицы, то «левой» станет другая таблица, и именно её строки будут включены в результат. Это может привести к изменению количества строк в выборке и к разным результатам при использовании фильтров

Например, в задаче https://stepik.org/lesson/308886/step/3?unit=291012
При запросе 
select name_genre
from book b left join genre g
on g.genre_id = b.genre_id
where b.genre_id is null
Результат = 0 записей

А при запросе 
select name_genre
from genre g left join book b
on g.genre_id = b.genre_id
where b.genre_id is null
Результат = 1 запись

2. Сколько будет 5 + NULL?

В результате вернется или останет (при update, к примеру) null.

3. Можно ли делать JOIN таблицы саму на себя?

Да, можно. Это удобно использовать для сравнения данных из одной и той же страницу.

4. Может ли ORDER BY приводить к уменьшению числа строк в результате выполнения?

Нет, сам order by не может привести к изменению количества строк в результате запроса. Он отвечает за сортировку результата.

5. При каких типах соединения условие из WHERE можно перенести в ON с гарантированным сохранением результата запроса?

При соединении черех inner join или просто join. 
Пример запроса:
seelct * from a inner join b on a.id = b.id and b.num = 10

6. Какой из операторов: SELECT, FROM, WHERE, GROUP BY - будет выполняться последним при обработке запроса?

Последним будет обработан select. Подобный набор операторов в запросе будет обработан в следующем порядке:  from, where, group by, select

7. Какие функции умеют возвращать значения из предыдущих/последующих строк для заданной строки таблицы?

Оконные функции:
lag - значение из предыдущей строки
lead - значение из следующей строки

8. Какое минимальное и максимальное количество записей может выдать FULL JOIN таблицы на 10 строк с таблицей на 100 строк?

Минимально 100
Максимально 1000, если условие совпало так, что , каждая из 10 строк первой таблицы соединяется со всеми 100 строками второй